.thumbnail {
  width: 20rem;
  cursor: pointer;
  transition: 0.3s;
}

.thumbnail:hover {
  transform: scale(1.15);
}

.thumbnail-container {
  display: inline-block;
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: center;
}

/* .blur{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(40, 40, 40, 0.8);
  backdrop-filter: url(commonfilters.svg#filter);
  backdrop-filter: blur(0.8);
} */

.modal-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(10, 10, 10, 0.7);
}

.blur {
  /* filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); */
  backdrop-filter: blur(10px);
  /* -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter); */
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.blur-svg {
  display: none;
}

.image {
  height: 90%;
  top: 20px;
  margin-bottom: auto;
  overflow: auto;
  box-sizing: content-box;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.image::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.caption {
  position: relative;
  margin: auto;
  margin-top: 10px;
  display: block;
  text-align: left;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 2rem;
  padding: 10px 10px 10px 10px;
}

/* @media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
 } */
