/* Show it is fixed to the top */
body {
    padding-top: 4.5rem;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .card-columns{
        column-count: 1;
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    .card-columns{
        column-count: 3;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .card-columns{
        column-count: 4;
    }
}

 /* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .card-columns{
        column-count: 5;
    }
} */