{% extends 'comics/base.html' %}


{% block content %}
<div class="comic-container container">
    <div class="jumbotron text-left p-3">
        <h1 class="display-4">
            Latest Comics
        </h1>
        <h2 class="lead">
            From rss feed.
        </h2>
    </div>

    <div class="card-columns">
        {% for comic in comics %}
        <div id="comics-thumbnail" class="card">

            <img src=" {{comic.image_url}}" class="card-img-top" alt="{{ comic.description }}">

            <div class="card-body">
                <h3 class="card-title">{{ comic.title }}</h3>
                <p class="card-text">{{ comic.description }}</p>

                <a href="{{ url_for('viewer.comic', id=comic.id) }}" class="stretched-link"></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}